body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

#Hero-Section {
    background-image: url("../img/imagen.fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
